.btn {
  border: none;
  font-size: 600;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 0;
  display: inline-block;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Raleway;
  font-weight: 500;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  background: $primary-color-lighter;
  color: #fff;
}

.btn:hover {
  background: $primary-color;
}

.btn:active {
  background: $primary-color;
  top: 2px;
}

.btn-full-width {
  width: 100%;
}
