$primary-color: #546de5;
$primary-color-lighter: #7084e4;

$red-color: #db2e24;
$red-color-lighter: #e2574f;

$fa-content-envelope: "\f0e0";
$fa-content-lock: "\f023";
$fa-content-key: "\f084";
$fa-content-door: "\f52b";
